---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <article class="post-content">{{ content }}</article>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
</div>
